2020/day19/main_part1.hi
2020/day19/main_part1
2020/day19/main_part1.o
2020/day19/main_part2
2020/day19/main_part2.hi
2020/day19/main_part2.o
2020/day22/main.hi
2020/day22/main.o
2020/day22/main
2020/day23/main
2020/day23/main.hi
2020/day23/main.o
2020/day24/main
2020/day24/main.hi
2020/day24/main.o
2021/**/target/**
2022/aoc-2022/target/**
2023/aoc-2023/target/
*.iml
.idea

2024/target/classes/org/spick/AbstractPuzzle.class
2024/target/classes/org/spick/One.class
2024/target/classes/org/spick/one.txt
2024/target/classes/org/spick/One$Line.class
2024/target/classes/org/spick/utils/MathUtils.class
2024/target/classes/org/spick/utils/SlidingWindow.class
2024/target/classes/org/spick/utils/StreamUtils.class
2024/target/classes/org/spick/utils/Zip.class
2024/target/classes/org/spick/utils/Zip$1.class
2024/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
2024/target/test-classes/org/spick/one.txt
2024/target/test-classes/org/spick/TestOne.class
